      body{
        font-family:Arial, Helvetica, sans-serif;
        background-color: antiquewhite;
      }

      h1{ 
        font-size: 40px;
        text-align: center;
        text-shadow: 10px 10px 2px rgba(0, 0, 255, 0.5);
      }

      .Texto1{  
            color: rgb(0, 0, 0);
            font-size: 20px;
      }
      
      footer{
        color:ghostwhite;
        font-size: 45px;
        text-align: center;
        position: fixed;
        width: 100%;
        bottom: 0;
        background-color: black;
      }

      .paragrafos{
        color: coral;
        font-size: 25px ;
        text-align: center;
      }

      .linkkk{
        color: rgb(255, 0, 51);
        font-size: 20px;
        text-align: center;
      }
